@import "tailwindcss";

:root {
  --background: linear-gradient(to right, #5fff72, #feb47b, #86a8e7, #91eae4, #d9dc2b);
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /*background: linear-gradient(to right, #5fff72, #feb47b, #86a8e7, #91eae4);*/
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}
